# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, '\t')
#df

c:\Users\yurit\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3397: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = df

### Step 4. See the first 10 entries

In [16]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [17]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [18]:
# Solution 2

chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [19]:
#chipo.columns.tolist()
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [20]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [21]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [22]:
#chipo.head()

chipo.groupby("item_name")["quantity"].sum().idxmax()  # The most-ordered item

'Chicken Bowl'

In [23]:
c = chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [24]:
chipo.groupby("item_name")["quantity"].sum().max()  # Display how many items, of the most orderes item, were ordered

#df.groupby("item_name")["quantity"].sum().sort_values(ascending=False)[:1]

761

In [25]:
c = chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [6]:
chipo.groupby("choice_description")["quantity"].sum().idxmax()

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [28]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

In [29]:
#first, I checked the type of 'item_price', before doing the instruction

chipo.item_price.dtype

dtype('O')

In [30]:
chipo['item_price'] = chipo.item_price.str.slice(1).astype(float) 

#If I run it again, it generates an error because I already applied the change.

# Important funtion: pd.to_numeric() Convert an argument to a numeric type.

#### Step 13.a. Check the item price type

In [55]:
chipo.info()
chipo.item_price.dtype
chipo[:5]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
 5   revenue             4622 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 216.8+ KB

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

#### Step 13.b. Create a lambda function and change the type of item price

In [4]:
# First, I check the dtype: 
chipo.item_price.dtypes

dtype('O')

In [5]:
# another way to de change the type of item price. 
# the previous one is simpler. I need to restart the Kernel for doinf again.
dollarizer = lambda x: float(x[1:-1])    
chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13.c. Check the item price type

In [8]:
chipo.info()
chipo.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

### Step 14. How much was the revenue for the period in the dataset?

In [86]:
import numpy as np

#revenue = (chipo['quantity']* chipo['item_price'])
revenue = (chipo.quantity * chipo.item_price)
revenue = revenue.sum()

#chipo.head(5)  muestra la variable (columna) que creamos revenue
print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

Note_yuri: value_counts() function: it shows how many times each item appears in the column (calculate frequencies)

In [82]:

#chipo["order_id"].value_counts().count()  # = chipo.order_id.value_counts().count()

# OR. I like nunique() function. The result is the same.
chipo.order_id.nunique()

#orders = chipo.order_id.value_coun(ts().count()

1834

### Step 16. What is the average revenue amount per order?

In [85]:
# Solution 1

#revenue = (chipo.quantity * chipo.item_price)

chipo.revenue.sum() / 1834     # total revenue divided by the number of orders

21.39423118865867

In [84]:
# Solution 2

chipo.groupby('order_id')['revenue'].sum().mean()    

# OR
#chipo.groupby(by=['order_id']).sum().mean()['revenue']
#chipo.head(3)

21.394231188658654

### Step 17. How many different items are sold?

In [51]:
chipo.item_name.nunique()

# OR
#chipo['item_name'].value_counts().count()    # same result #chipo.item_name.value_counts().count()

50