# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, sep='\t')

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = df
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [12]:
# clean the item_price column and transform it in a float
#price = chipo.item_price.str.slice(1).astype(float)   # I runed it 

# reassign the column with the cleaned prices

chipo['item_price'] = price

# delete the duplicates in item_name and quantity
chipo.filtered = chipo.drop_duplicates(['item_name', 'quantity'])   # drop_duplicates keeps the first.
#Note_ yuri: this code considers the price of the first item  # drop_duplicates keeps the first.
# (although there may be prices above 10 in the list for this item)


# select only the products with quantity equals to 1

chipo_one_product = chipo.filtered[chipo.filtered.quantity == 1]    

chipo_one_product[chipo_one_product['item_price']>10].item_name.nunique()

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [20]:
# delete the duplicates in item_name and quantity
chipo.filtered = chipo.drop_duplicates(['item_name', 'quantity'])  # attention: drop_duplicates keeps the first.

# select only the products with quantity equals to 1
chipo_one_product = chipo.filtered[chipo.filtered.quantity == 1]    

# select only the item_name and item_price columns
price_per_item = chipo_one_product[['item_name', 'item_price']]

# sort the values from the most to less expensive
price_per_item.sort_values(by ='item_price', ascending=False).head(20)

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
7             Steak Burrito       11.75
168   Barbacoa Crispy Tacos       11.75
39            Barbacoa Bowl       11.75
738       Veggie Soft Tacos       11.25
186       Veggie Salad Bowl       11.25
62              Veggie Bowl       11.25
57           Veggie Burrito       11.25
250           Chicken Salad       10.98
5              Chicken Bowl       10.98
8          Steak Soft Tacos        9.25
554   Carnitas Crispy Tacos        9.25
237     Carnitas Soft Tacos        9.25
56      Barbacoa Soft Tacos        9.25
92       Steak Crispy Tacos        9.25
664             Steak Salad        8.99
54               Steak Bowl        8.99
3750         Carnitas Salad        8.99

### Step 6. Sort by the name of the item

In [26]:
#chipo.item_name.sort_values()

#OR

chipo.sort_values(by='item_name').head(20)   # by defaut: ascending=True

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49
3422      1373         1  6 Pack Soft Drink             [Coke]        6.49
553        230         1  6 Pack Soft Drink        [Diet Coke]        6.49
1916       774         1  6 Pack Soft Drink        [Diet Coke]        6.49
1922       776         1  6 Pack Soft Drink             [Coke]        6.49
1937       784         1  6 Pack Soft Drink        [Diet Coke]        6.49
3836      1537         1  6 Pack Soft Drink             [Coke]        6.49
298        129         1  6 Pack Soft Drink           [Sprite]        6.49
1976       798         1  6 Pack Soft Drink        [Diet Coke]        6.49
1167       481         1  6 Pack Soft Drink             [Coke]        6.49
3875      1554         1  6 Pack Soft Drink        [Diet Coke]        6.49
1124       465         1  6 Pack Soft Drink             [Coke]        6.49
3886      1558         1  6 Pack Soft Drink        [Diet Coke]        6.49
2108       849         1  6 Pack Soft Drink             [Coke]        6.49
3010      1196         1  6 Pack Soft Drink        [Diet Coke]        6.49
4535      1803         1  6 Pack Soft Drink         [Lemonade]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [32]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [31]:
chipo.at[chipo['item_price'].idxmax(), 'quantity']

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [36]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].quantity.sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [45]:
(chipo[chipo.item_name == 'Canned Soda'].quantity > 1 ).sum()  #Counts the number of occurrences

20